.table {
  margin-top: 15px;
}
.item {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.2);
}
.grey {
  background-color: rgba(0,0,0,0.05);
}
.red {
  background-color: rgba(255,0,0,0.2);
}
.blue {
  background-color: rgba(0,0,255,0.2);
}
